    *{
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    [ng-drag], [ng-drag-clone]{
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

/*    [ng-drag-clone]{

        width: auto;
        height: auto;
        background: rgba(1, 87, 155, 0.8);
        border:solid 2px rgb(1, 87, 100);
        color: rgba(250, 250, 250, 0.8);
        text-align: center;
        font-weight: bold;
        line-height:30px;
        font-size: 75%;
        border-radius: 10px;
        display: inline-block;
        margin:10px;
        cursor: move;
        position: relative;
        overflow: hidden;
    }*/


   /* .drag-object, [ng-drag-clone]{*/
    .drag-object, [ng-drag-clone]{

        cursor: move;
        position: relative;
/*        width: 70px;
        height: 30px;
        background: rgba(1, 87, 155, 0.8);
        border:solid 2px rgb(1, 87, 100);
        color: rgba(250, 250, 250, 0.8);
        text-align: center;
        font-weight: bold;
        line-height:30px;
        font-size: 75%;
        border-radius: 10px;
        display: inline-block;
        margin:10px;
        cursor: move;
		position: relative;
        overflow: hidden;*/
    }

    .drag_field{

        width: 70px;
        height: 30px;
        background: rgba(1, 87, 155, 0.8);
        border:solid 2px rgb(1, 87, 100);
        color: rgba(250, 250, 250, 0.8);
        text-align: center;
        font-weight: bold;
        line-height:30px;
        font-size: 75%;
        border-radius: 10px;
        display: inline-block;
        margin:10px;
/*        cursor: move;
        position: relative;*/
        overflow: hidden;
    }

    .drag_others {

        width:auto;
        height: auto;
        position: relative;
    }

	[ng-drag-clone]{
        margin: 0;
    }
    [ng-drag].drag-over{
        border:solid 1px red;
    }
    [ng-drag].dragging{
		opacity: 0;
        position: absolute !important;
    }
    [ng-drop]{
        /*background: rgba(0,255,0, 0.5);*/
        text-align: center;
        width: 200px;
        height: 150px;
        /*padding:5px;*/
        /*display: block;*/
        /*margin:20px auto;*/
        position: relative;
    }
    [ng-drop].drag-enter{
        border:solid 3px rgb(235, 235, 235);
    }
    [ng-drop] .drop_info{
    	color:gray;
    	font-size:0.8em;
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        width: 200px;
        height: 20px;
        margin-left: -100px;
        margin-top: -10px;
    }

    .subheader{
    	background-color: rgb(235, 235, 235);
    }

    .list_container{

    	border-style: solid;
    	border-width: 5px;
    	border-color: rgb(235, 235, 235);
    	padding: 1px 10px 1px 10px;
    }

    .charts{
        width: auto;
        height: auto;

    }
    
    .chart_movable{

    	background: rgba(0,255,0, 0.1);
    	border-radius: 20px;
    }
    .delete_chart{
    	background: rgba(255,0,0, 0.2);
    	height: auto;
        border-radius: 20px;
        margin:5px;
        outline:none;
/*        background-image: url(../images/delete.png);
        background-repeat: no-repeat;
        background-position:center center;"*/
    }

    .platform{
        width: 200px;
        height: 165px;
		background: rgba(220, 220, 220, 0.8);
		border-radius: 20px;
    }

    span.title{

    	margin: 0 auto;
    	color: gray;
    	text-align: center;
    	font-size: 0.8em;
    }

    .loader{

    	background: rgb(243, 243, 243);
    }
    #loader_normal{

    	background: rgba(0, 0, 255, 0.2);;
    	border-radius: 20px;
    	margin:5px;
        width: 200px;
        height: 100px;
        overflow-x: hidden;
        overflow-y: auto; 
    }

    #loader_timestamp{

    	background: rgba(0, 255, 0, 0.2);;
    	border-radius: 20px;
    	margin:5px;
        width: 200px;
        height: 50px;
        overflow-x: hidden;
        overflow-y: auto; 
    }

    [ng-drag].loaded{

    	background: rgb(1, 87, 155);
    	color: white;
    }

	.md-fab:hover, .md-fab.md-focused {
			background-color: grey !important; 
	}

	.list_item{

		background-color: rgba(240, 240, 240, 0.8);
		margin-bottom: 4px;
	}

    div.stats_div{

        margin: 10px;
    }

    span.stats_span{

        font-size: 0.9em;
        color: rgb(90, 90, 90);
    }

    i.stats_i{

        font-size: 0.9em;
    }

    .overflow{

        color: red;
    }

    /*Chrome bug fix with flex
    https://github.com/angular/material/issues/2954*/
    .chrome_bugfix1{

        height: 0;
    }

    .chrome_bugfix2{

        min-height: 0;
    }

    .chart_img{

        position: absolute;
        right:0;
        left:0;
        top:0;
        bottom:0;
        margin: auto;
    }

    img.loader_buttons{

        outline:none;
    }

	.tab_cell{

		border-left-width: 1px;
		border-left-style: solid;
		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-color: rgb(225, 225, 225);
	}

	.tab_cell_time{

		border-bottom-width: 1px;
		border-bottom-style: solid;
		border-color: rgb(225, 225, 225);
	}

	.tab_span {

		text-align: center;
		font-size: 0.7em;
		color: rgb(70, 70, 70);
		white-space: nowrap;
	}

	/*Default md-list-item height is to big*/
	md-list-item, md-list-item.md-list-item-inner {
		
		min-height: 20px;
	}

    .sub {

    	text-align: center;
        white-space: nowrap;
    	color: rgb(150, 150, 150);
    	background-color: rgb(240, 240, 240);
    	font-weight: bold;
    	font-size: 0.8em;
    	border-width: 1px;
    	border-style: solid;
    	border-color: rgb(225, 225, 225);
    }

    .font_1p2{

        font-size: 1.2em;
    }

    .font_0p8 {

        font-size: 0.8em;
    }

    .font_0p7{

        font-size: 0.7em;
    }

    .green_font{

        color: green;
    }

    #source_server {

        width:100px;
        color:blue;
        overflow: hidden;
    }

    .dc_chart{

        display: inline-block;
        margin:5px;
    }

    .reset_charts{

        color:gray;
        font-family: 'Courier New';
        font-size: 0.9em;
        outline:none;
    }

    #href{
        
        margin-left: 5px; 
    }

    #paranth{

        margin-left: 15px;
    }

    #hide_button {

        margin-right: 5px;
        background: rgb(243, 243, 243);
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        outline:none;
    }

    .cursor_pointer {

        cursor: pointer;
    }

    .cursor_move {

        cursor: move;
    }

    .padding_0{

        padding: 0px;
    }

    .margin_0{

        margin: 0px;
    }

    .padding_5 {

        padding: 5px;
    }

    .margin_5{

        margin: 5px;
    }

    .marginb_0{

        margin-bottom: 0px;
    }

    .height_30{

        height: 30px;
    }

    .md_input{

        margin:0px;
        margin-left:10px;
        margin-bottom: 20px;
    }

    .subh_margin{

        margin:8px 0;
    }

    .height_auto{

        height: auto;
    }

    .md_datepicker{

        padding:0;
        margin: 2px;
        border-bottom-style: solid;
        border-bottom-width: 1px;
        border-color: rgb(235, 235, 235);
    }

    /*hide canvas.js credit*/
    .canvasjs-chart-credit {
        display: none;
    }

