<!DOCTYPE html>
<html>

	<head>
		<link rel="stylesheet" href="../bower_components/angular-material/angular-material.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" type="text/css" href="css/dc.css">
		<link rel="icon" href="images/timeline.png">
		<title>dataexp</title>
	</head>

	<body ng-app="MainApp" layout="column" ng-cloak>

		<!-- Toolbar -->
		<md-toolbar ng-controller="ToolBarCtrl" class="md-medium-tall md-primary md-whiteframe-4dp" layout="row">
			<md-button ng-disabled="$root.disabled" class="menu" aria-label="Menu button" ng-click="$root.tooglePanels()">
				<md-tooltip md-visible="false" md-direction="top">Toogle panels</md-tooltip>
				<md-icon md-svg-src="images/menu.svg"></md-icon>
			</md-button>
	
			<md-progress-circular md-diameter="96" md-mode="{{$root.activatePB}}" class="md-primary md-hue-1"></md-progress-circular>
		</md-toolbar>

		<div layout="row" flex ng-disabled="$root.disabled" style="opacity:{{($root.disabled) ? 0.7 : 1;}};">

			<!-- Left Side Bar -->
			<md-sidenav md-is-locked-open="true" class="md-sidenav-left md-whiteframe-z2" layout="column" ng-hide="!$root.showPanels">

				<!-- Fab Button to add a new source-->
				<md-button class="md-fab md-fab-top-right md-mini md-primary" ng-disabled="$root.disabled" aria-label="Add button" ng-click="showDialog($event)" ng-controller="FabCtrl">
					<md-icon md-svg-src="images/add.svg"></md-icon>
					<md-tooltip md-visible="false" md-direction="top">Add a new source</md-tooltip>
				</md-button>

				<!-- Sources, Stores, Fields List -->
				<div ng-controller="LeftNavCtrl" layout="column" flex layout-align="start">
					<md-subheader class="md-no-sticky md-primary subheader" md-ink-ripple="#AAAAAA">Sources ({{sources_conf.length}})</md-subheader>
					<md-content flex="33" class="list_container chrome_bugfix2"> <!-- md-content is scrollable -->
						<!-- message that would be shown if sources list is empty -->
						<div ng-hide="sources_conf.length" layout="row">
							<div flex="55"></div>
							<span ng-hide="sources_conf.length" class="stats_span"> Click it ---></span>
						</div>

						<md-list class="chrome_bugfix1">
							<md-list-item ng-repeat="source_config in sources_conf" class="list_item">
								<md-checkbox ng-disabled="$root.disabled" ng-model="source_config.source.wanted" aria-label="Source checkbox" ng-change="$root.loadStores(source_config)"></md-checkbox>
								<div layout="column">
									<span class="font_1p2">{{source_config.source.name}}</span>
									<div layout="row">
										<span class="font_0p7 green_font">{{getSourceType(source_config)}}</span>
										<span class="font_0p7">-</span>
										<span class="font_0p7" id="source_server"> {{source_config.source.server}}</span>
									</div>
								</div>
								<md-icon ng-disabled="$root.disabled" class="md-secondary" ng-click="modifySource($event, source_config)" md-svg-src="images/settings.svg" aria-label="Settings"></md-icon>
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
					</md-content>

					<md-divider></md-divider>
					<md-divider></md-divider>
					<md-subheader class="md-no-sticky md-primary subheader" md-ink-ripple="#AAAAAA">Stores ({{stores_conf.length}})</md-subheader>
					<md-content flex="33" class="list_container chrome_bugfix2">
						<md-list class="chrome_bugfix1">
							<md-list-item ng-repeat="store_config in stores_conf" class="list_item">
								<md-checkbox aria-label="Store checkbox" ng-model="store_config.wanted" ng-change="loadFields(store_config)" ng-disabled="$root.disabled"></md-checkbox>
								<div layout="column">
									<div layout="row">
										<span class="font_1p2">{{store_config.store.short}}</span>
										<span class="font_0p7" ng-if="store_config.store.size <= $root.max_size">({{store_config.store.size}})</span>
										<div ng-if="store_config.store.size >= $root.max_size" layout="row">
											<span class="font_0p7">(</span>
											<span class="font_0p7 overflow">{{store_config.store.size}}</span>
											<span class="font_0p7">)</span>
										</div>
									</div>

									<span class="font_0p7 green_font">{{store_config.source.name}}</span>
								</div>
								<md-divider></md-divider>
							</md-list-item>
						</md-list>
					</md-content>

					<md-divider></md-divider>
					<md-divider></md-divider>
					<md-subheader class="md-no-sticky md-primary subheader" md-ink-ripple="#AAAAAA">
						<div layout="row">
							<span flex>Fields ({{fields_conf.length}})</span>
							<span class="reset_charts cursor_pointer" ng-click="($root.disabled)? '' : clear()">
								clear
								<md-tooltip md-visible="false" md-direction="top">Clear filters</md-tooltip>
							</span>
						</div>
					</md-subheader>

					<!-- using a div and not md-content beacuse of a chrome bug -->
					<div style="overflow: auto;" flex="33" class="list_container chrome_bugfix1">
						<div layout-align="center" class="chrome_bugfix2">
							<span class="drag-object md-whiteframe-4dp drag_field" ng-repeat="field_config in fields_conf" ng-drag="!$root.disabled" ng-drag-data="field_config">
									{{field_config.field.short}}
								<md-tooltip md-visible="false" md-direction="top">
									{{field_config.field.name}} ({{field_config.store.name}})
								</md-tooltip>
							</span>
						</div>
					</div>
				</div>
			</md-sidenav>

			<!-- Main Container -->
			<div flex layout="column">

				<!-- Charts Container -->
				<md-content flex class="charts" ng-controller="ChartsCtrl" ng-drop="true" ng-drop-success="onDropChart($data)" layout-align="start start">

					<!-- Fab Button to reload the DC charts-->
					<md-button class="md-fab md-fab-top-right md-mini" aria-label="Reload" ng-click="$root.reloadCharts()" ng-disabled="$root.disabled">
						<md-icon md-svg-src="images/refresh.svg"></md-icon>
						<md-tooltip md-visible="false" md-direction="top">Reload</md-tooltip>
					</md-button>

					<!-- DC.js&Canvas.js Charts-->
					<div class="chart md-whiteframe-1dp {{'chart_' + chart.type}}" ng-repeat="chart in droppedCharts" layout="column" layout-align="center start" ng-init="$last ? renderAll() : null">

						<!-- Rendering message -->
						<span ng-hide="hideTitle" class="chart_title reset_charts">Rendering ...</span>

						<!-- Chart title -->
						<span ng-drag="!$root.disabled" ng-drag-data="chart" class="drag-object" style="margin:5px;">
							<img src="images/hand.svg" height="12" width="12">
							{{chart.key1}}
						</span>

						<!-- Chart -->
						<div id="{{chart.id}}"></div>

						<!-- Thoose two are only for DC.js graph and scatter -->
						<div ng-if="chart.type === 'Graph'" id="{{chart.id + '_bar'}}"></div>
						<div ng-if="chart.type === 'Scatter'" id="{{chart.id + '_correl'}}"></div>
					</div>

				</md-content>

				<!-- Reset Chart Filters -->
				<div layout="row">
					<div ng-if="$root.size_status === 'normal'" layout="row" layout-align="start center">
						<span id="paranth" class="reset_charts">(</span>
						<span class="reset_charts" id="counter"></span>	<!-- will be filled by DC.js-->
						<span class="reset_charts">)</span>
						<a id="href" class="reset_charts" href='javascript:dc.filterAll();dc.redrawAll();'>
							Reset
							<md-tooltip md-visible="false" md-direction="top">Reset filters</md-tooltip>
						</a>
					</div>

					<div flex></div>
					<!-- <md-checkbox class="md-mini"></md-checkbox> -->
					<!-- <input type="checkbox"> -->

					<!-- Hide Button -->
					<img id="hide_button" ng-controller="HideBtnCtrl" class="cursor_pointer md-whiteframe-1dp" src="{{image}}" ng-click="toogle()">
				</div>

				<!-- Footer -->
				<footer flex="none" ng-hide="$root.hideFooter">
					<div class="md-whiteframe-4dp" layout="row" flex>

						<!-- Loader -->
						<div ng-controller="LoaderCtrl" class="loader" layout="column">
							<div id="loader_normal" ng-drop="true" ng-drop-success="onDropComplete($data)">
								<span class="drop_info">Fields</span>

								<div ng-repeat="field_config in $root.droppedFields" ng-drag="!$root.disabled" ng-drag-data="field_config" class="drag-object {{field_config.field.status}} md-whiteframe-4dp drag_field">
									{{field_config.field.short}}

									<md-tooltip md-visible="false" md-direction="top">
										{{field_config.field.name}} ({{field_config.store.name}})
									</md-tooltip>
								</div>
							</div>

							<div id="loader_timestamp" ng-drop="true" ng-drop-success="onTSDropComplete($data)">
								<span class="drop_info">Timestamp Fields</span>

								<div ng-repeat="field_config in $root.droppedTSFields" ng-drag="!$root.disabled" ng-drag-data="field_config" class="drag-object {{field_config.field.status}} md-whiteframe-4dp drag_field">
									{{field_config.field.short}}

									<md-tooltip md-visible="false" md-direction="top">
										{{field_config.field.name}} ({{field_config.store.name}})
									</md-tooltip>
								</div>
							</div>

							<!-- Buttons -->
							<div layout="row" layout-align="center start">

								<div>
									<img class="loader_buttons cursor_pointer md-secondary" src="images/download.svg" ng-click="($root.disabled) ? '' : load()">
									<md-tooltip md-visible="false" md-direction="top">Load the dataset</md-tooltip>
								</div>
								<a download="config.json" ng-href="{{($root.disabled) ? '' : url}}">
									<img class="loader_buttons cursor_pointer" src="images/save.svg">
									<md-tooltip md-visible="false" md-direction="top">Save the config</md-tooltip>
								</a>
<!-- 								<div>
									<img  class="loader_buttons cursor_pointer" src="images/clear.svg" ng-click="($root.disabled) ? '' : clear()">
									<md-tooltip md-visible="false" md-direction="top">Clear the loader</md-tooltip>
								</div> -->
							</div>
						</div>

						<md-divider></md-divider>

						<!-- Movable Charts -->
						<md-content flex ng-controller="MovableChartsCtrl">
							<md-list layout="row">

								<!-- Pie Chart -->
								<md-list-item layout="column">
									<div class="platform" layout="column" layout-align="end end">
										<img src="images/pie_chart.png" class="chart_img" alt="Pie Chart">

										<div class="chart_movable cursor_move md-whiteframe-4dp" ng-drop="true" ng-drop-success="onDropComplete($data, 'Pie')" ng-drag="!$root.disabled" ng-drag-data="{chart:'Pie'}"> 

											<div ng-repeat="field_config in $root.chartFields" ng-drag="false" ng-drag-data="field_config" class="loaded drag_field" ng-if="field_config.chart==='Pie'">
												{{field_config.field.short}}
											</div>
										</div>

										<span class="movable_chart_title">Pie Chart</span>
									</div>
								</md-list-item>

								<!-- Graph -->
								<md-list-item layout="column">
									<div class="platform"  layout="column" layout-align="end end">
										<img src="images/graph_chart.png" class="chart_img" alt="Graph Chart">
										
										<div class="chart_movable cursor_move md-whiteframe-4dp" ng-drop="true" ng-drop-success="onDropComplete($data, 'Graph')" ng-drag="!$root.disabled" ng-drag-data="{chart:'Graph'}"> 

											<div ng-repeat="field_config in $root.chartFields" ng-drag="false" ng-drag-data="field_config" class="loaded drag_field" ng-if="field_config.chart==='Graph'">
												{{field_config.field.short}}
											</div>
										</div>

										<span class="movable_chart_title">Graph</span>
									</div>
								</md-list-item>

								<!-- Scatter Plot -->
								<md-list-item layout="column">
									<div class="platform"  layout="column" layout-align="end end">
										<img src="images/scatter_chart.png" class="chart_img" alt="Scatter Chart">

										<div class="chart_movable cursor_move md-whiteframe-4dp" ng-drop="true" ng-drop-success="onDropComplete($data, 'Scatter')" ng-drag="!$root.disabled" ng-drag-data="{chart:'Scatter'}"> 

											<div ng-repeat="field_config in $root.chartFields" ng-drag="false" ng-drag-data="field_config" class="loaded drag_field" ng-if="field_config.chart==='Scatter'">
												{{field_config.field.short}}
											</div>
										</div>

										<span class="movable_chart_title">Scatter Plot</span>
									</div>
								</md-list-item>

								<!-- Row Chart -->
								<md-list-item layout="column">
									<div class="platform"  layout="column" layout-align="end end">
										<img src="images/row_chart.png" class="chart_img" alt="Row Chart">

										<div class="chart_movable cursor_move md-whiteframe-4dp" ng-drop="true" ng-drop-success="onDropComplete($data, 'Row')" ng-drag="!$root.disabled" ng-drag-data="{chart:'Row'}"> 

											<div ng-repeat="field_config in $root.chartFields" ng-drag="false" ng-drag-data="field_config" class="loaded drag_field" ng-if="field_config.chart==='Row'">
												{{field_config.field.short}}
											</div>
										</div>

										<span class="movable_chart_title">Row Chart</span>
									</div>
								</md-list-item>

								<!-- Bar Chart -->
								<md-list-item layout="column">
									<div class="platform"  layout="column" layout-align="end end">
										<img src="images/bar_chart.png" class="chart_img" alt="Bar Chart">

										<div class="chart_movable cursor_move md-whiteframe-4dp" ng-drop="true" ng-drop-success="onDropComplete($data, 'Bar')" ng-drag="!$root.disabled" ng-drag-data="{chart:'Bar'}"> 

											<div ng-repeat="field_config in $root.chartFields" ng-drag="false" ng-drag-data="field_config" class="loaded drag_field" ng-if="field_config.chart==='Bar'">
												{{field_config.field.short}}
											</div>
										</div>

										<span class="movable_chart_title">Bar Chart</span>
									</div>
								</md-list-item>

							</md-list>

						</md-content>
						<!-- </div> -->

						<md-divider></md-divider>

						<!-- Delete zone -->
						<div layout="column" class="loader">
								<div md-ink-ripple="#FF0000" ng-click="($root.disabled)? '' : clearAll()" flex class="delete_chart cursor_pointer" ng-controller="DeleteZoneCtrl" ng-drop="true" ng-drop-success="onDropRemove($data)">
									<img src="images/delete.png" class="chart_img" alt="Delete Zone">
								</div>
						</div>

						<!-- Draggable objects -->
						<div ng-drag-clone="">
							<!-- field -->
							<div ng-if="clonedData.field" class="md-whiteframe-4dp drag_field {{clonedData.field.status}}">{{clonedData.field.short}}</div>
							<!-- movable chart -->
							<div ng-if="clonedData.chart" style="width:200px; height: 150px;" class="chart_movable md-whiteframe-4dp"></div>
							<!-- DC or Canvas chart -->
							<span ng-if="clonedData.key1" style="margin:5px;">
								<img src="images/hand.svg" height="12" width="12">
								{{clonedData.key1}}
							</span>
						</div>
					</div>
				</footer>

			</div>

			<!-- Right Side Bar -->
			<md-sidenav md-is-locked-open="true" class="md-sidenav-right md-whiteframe-z2" layout="column" ng-hide="!$root.showPanels">
				<div layout="column" flex layout-align="start" ng-controller="RightNavCtrl">

					<!-- Stats -->
					<md-content layout="column"  class="list_container padding_5">
						<div layout="row" class="stats_div">
							<span class="stats_span">Homogeneous:&nbsp;</span>
							<i class="stats_i">{{homogen}}</i>
						</div>
						<md-divider></md-divider>

						<div layout="row" class="stats_div">
							<span class="stats_span ">Size:&nbsp;</span>
							<i class="stats_i {{$root.size_status}}">{{size}}</i>
							<span>&nbsp;</span>
							<div>
								<img ng-hide="$root.size_status === 'normal'" class="loader_buttons cursor_pointer" src="images/help.svg" height="16" width="16" ng-click="showAlert($event)">
								<md-tooltip md-visible="false" md-direction="top">Click to show a tip</md-tooltip>
							</div>
							<span flex></span>
							<div>
								<input type="checkbox" ng-disabled="$root.disabled" ng-model="$root.force_canvasjs">
								<md-tooltip md-visible="false" md-direction="top">Disregard the size and render only by Canvas.js</md-tooltip>
							</div>
						</div>
						<md-divider></md-divider>

						<div layout="row" class="stats_div">
							<span class="stats_span">Per day (mean):&nbsp;</span>
							<i class="stats_i">{{per_day}}</i>
						</div>
						
					</md-content>

					<!-- Transformations -->
					<md-divider></md-divider>
					<md-divider></md-divider>
					<md-subheader ng-click="hide_trans=!hide_trans" class="md-no-sticky md-primary subheader" md-ink-ripple="#AAAAAA">Transformations</md-subheader>
					<div ng-hide="hide_trans" layout="column" class="list_container">
						<md-radio-group ng-model="transform_type" class="margin_5">
							<md-radio-button ng-disabled="$root.disabled" value="inters">Intersection</md-radio-button>
							
							<div layout="row" layout-align="start center" class="height_30">
								<md-radio-button ng-disabled="$root.disabled" class="marginb_0" value="interp">Interpolation:</md-radio-button>
								<span>&nbsp;</span>
								<md-select ng-disabled="transform_type=='inters' || $root.disabled" ng-model="interp_type" aria-label="Interpolation Type">
									<md-option value="linear"><span class="font_0p8">Linear</span></md-option>
									<md-option value="cubic"><span class="font_0p8">Cubic</span></md-option>
									<md-option value="lanczos"><span class="font_0p8">Lanczos</span></md-option>
									<md-option value="nearest"><span class="font_0p8">Nearest Neighbor</span></md-option>
								</md-select>
							</div>
						</md-radio-group>
					</div>

					<!-- Reductions -->
					<md-divider></md-divider>
					<md-divider></md-divider>
					<md-subheader ng-click="hide_redu=!hide_redu" class="md-no-sticky md-primary subheader" md-ink-ripple="#AAAAAA">Reduction</md-subheader>
					<md-content ng-hide="hide_redu" layout="column" class="list_container">
						<div layout="row">
							<md-input-container class="marginb_0" flex>
								<label>Type</label>
								<md-select ng-disabled="$root.disabled" ng-model="reduc_type">
									<md-option value="skip">Skip</md-option>
									<md-option value="sum">Sum</md-option>
									<md-option value="avg">Average</md-option>
									<md-option value="max" ng-disabled="target_field==''">Max</md-option>
									<md-option value="min" ng-disabled="target_field==''">Min</md-option>
								</md-select>
							</md-input-container>

							<md-input-container class="marginb_0" flex>
								<label>Size</label>
								<input ng-disabled="$root.disabled" type="number" ng-model="reduc_size" min="1" ng-pattern="/^\d*$/">
							</md-input-container>

							<md-input-container class="marginb_0 height_auto" flex ng-drop="true" ng-drop-success="onDroppedField($data)">
								<label>Field</label>
								<input ng-disabled="$root.disabled" ng-model="target_field">
							</md-input-container>

						</div>
					</md-content>

					<!-- Dates -->
					<md-divider></md-divider>
					<md-divider></md-divider>
					<md-subheader class="md-no-sticky md-primary subheader" md-ink-ripple="#AAAAAA" ng-click="hide_dates=!hide_dates">
						<div layout="row" layout-align="start center">
							<span flex="30">Dates</span>
							<md-switch ng-disabled="$root.disabled" ng-click="toogleDates($event)" class="md-mini margin_0" aria-label="Switch"></md-switch>
						</div>
					</md-subheader>

					<div ng-hide="hide_dates" layout="column" layout-align="center center" class="list_container">
						<md-datepicker class="md_datepicker" ng-disabled="!enableDates || $root.disabled" ng-model="from_date" md-placeholder="From"></md-datepicker>
						<md-datepicker class="md_datepicker" ng-disabled="!enableDates || $root.disabled" ng-model="to_date" md-placeholder="To"></md-datepicker>
					</div>

					<!-- Correlation -->
					<md-divider></md-divider>
					<md-divider></md-divider>
					<md-subheader class="md-no-sticky md-primary subheader" md-ink-ripple="#AAAAAA">
						<div layout="row" layout-align="start center">
							<span flex="30">Correlation</span>
							<md-switch ng-disabled="$root.disabled || $root.force_canvasjs" ng-model="toogled_correlation" class="md-mini margin_0" aria-label="Switch"></md-switch>
							<div flex></div>
							<div layout="column" layout-align="center end">
								<div layout="row" layout-align="center center">
									<span class="reset_charts">Count negative</span>
									<input type="checkbox" ng-model="count_negative" ng-disabled="!toogled_correlation || $root.disabled">
									<md-tooltip md-visible="false" md-direction="top">Wheather or not detect negative correlations</md-tooltip>
								</div>
								<div layout="row" layout-align="center center"
									<span class="reset_charts">Max coef</span>
									<input type="checkbox" ng-model="max_coef" ng-disabled="!toogled_correlation || $root.disabled">
									<md-tooltip md-visible="false" md-direction="top">Wheather use maximum correlation coef or maximum number of correlated datapoins as a criteria to detect the correlation</md-tooltip>
								</div>
							</div>
						</div>
					</md-subheader>

					<!-- Dataset -->
					<md-divider></md-divider>
					<md-divider></md-divider>
					<md-subheader class="md-no-sticky md-primary subheader" md-ink-ripple="#AAAAAA">
						<div layout="row" layout-align="start center" class="padding_0">
							<span flex="30">Dataset</span>
							<md-switch ng-disabled="$root.disabled" ng-model="showDataset" class="md-mini margin_0" aria-label="Switch"></md-switch>
							<div flex></div>
							<a class="reset_charts cursor_pointer" download="dataset.json" ng-href="{{(!$root.disabled && $root.dataset.length) ? $root.url : ''}}">
								save
								<md-tooltip md-visible="false" md-direction="top">Save the dataset</md-tooltip>
							</a>
						</div>
					</md-subheader>

					<md-content flex layout="column" layout-align="start center" class="list_container chrome_bugfix1 padding_0">
					
						<!-- Dataset table -->
						<div ng-if="$root.loaded && showDataset && $root.dataset.length" layout="row">

							<!-- Timestamp field -->
							<div layout="column">
								<md-subheader class="sub" md-ink-ripple="#AAAAAA">time</md-subheader>
								<md-list>
									<md-list-item layout-align="center center" class="tab_cell_time" ng-repeat="doc in $root.dataset">
										<span class="tab_span">{{doc.time}}</span>
									</md-list-item>
								</md-list>
							</div>

							<!-- Other fields -->
							<div layout="column" ng-repeat="field_conf in $root.droppedFields">
								<md-subheader class="sub">{{field_conf.field.name}}</md-subheader>
								<md-list>
									<md-list-item layout-align="center center" class="tab_cell" ng-repeat="doc in $root.dataset">
										<span class="tab_span">{{doc[field_conf.field.name]}}</span>
									</md-list-item>
								</md-list>
							</div>
							
						</div>

					</md-content>

					<!-- Credits -->
					<md-divider></md-divider>
					<md-divider></md-divider>
					<div class="subheader" layout="row" layout-align="center center">

						<a href="http://www.maya-technologies.com/en/" style="margin-left: 10px;">
							<img class="cursor_pointer" src="images/maya_logo.png" style="opacity: 0.5;">
						</a>
						<div flex></div>
						<span style="margin-right: 10px; opacity: 0.5;" class="stats_span">2016</span>

<!-- 						<md-tooltip md-visible="false" md-direction="top">
							<span>Author: Ganza Mykhailo</span>
							<span>Contact: hanzenok@gmail.com</span>
						</md-tooltip> -->
					</div>

				</div>

			</md-sidenav>


		</div>

		<!-- bower:js -->
		<script src="../bower_components/angular/angular.js"></script>
		<script src="../bower_components/angular-animate/angular-animate.js"></script>
		<script src="../bower_components/angular-aria/angular-aria.js"></script>
		<script src="../bower_components/angular-messages/angular-messages.js"></script>
		<script src="../bower_components/angular-material/angular-material.js"></script>
		<script src="../bower_components/ngDraggable/ngDraggable.js"></script>
		<script src="../bower_components/angular-resource/angular-resource.js"></script>
		<script src="../bower_components/crossfilter/crossfilter.js"></script>
		<script src="../bower_components/d3/d3.js"></script>
		<script src="../bower_components/dcjs/dc.js"></script>
		<!-- endbower -->

		<script src="js/main.js"></script>
		<script src="js/canvasjs.js"></script>
		<script src="js/services/SourcesService.js"></script>
		<script src="js/services/StoresService.js"></script>
		<script src="js/services/FieldsService.js"></script>
		<script src="js/services/TimeseriesService.js"></script>
		<script src="js/services/DCChartsService.js"></script>
		<script src="js/services/CanvasChartsService.js"></script>
		<script src="js/services/CSV2JSONService.js"></script>
		<script src="js/controllers/FabCtrl.js"></script>
		<script src="js/controllers/LeftNavCtrl.js"></script>
		<script src="js/controllers/RightNavCtrl.js"></script>
		<script src="js/controllers/DialogCtrl.js"></script>
		<script src="js/controllers/MovableChartsCtrl.js"></script>
		<script src="js/controllers/DeleteZoneCtrl.js"></script>
		<script src="js/controllers/ChartsCtrl.js"></script>
		<script src="js/controllers/LoaderCtrl.js"></script>
		<script src="js/controllers/ToolBarCtrl.js"></script>
		<script src="js/controllers/HideBtnCtrl.js"></script>

	</body>

</html>

