<md-dialog aria-label="About" ng-controller="DialogCtrl" ng-cloak layout="column">

	<!-- Toolbar -->
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="../images/info.svg" aria-label="Info icon"></md-icon>
			</md-button>
			<h2 flex>About</h2>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="../images/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<!-- Content -->
	<div class="alert_div">
		<p class="alert_p" align="justify">
			Dataexp is an application for exploring and visualizing the timeseries. It works with MySQL and Mongo databases, and 
			can also load datasets from CSV or JSON files. The application offers the possibility to visualize dynamic data-based graphs, cutting the timseries,
			interpolating the timeseries, correlation detection and size reduction. 
		</p>

		<p class="alert_p" align="justify">
			The application is Node.js based using <a href="https://material.angularjs.org/latest/">Angular-Material</a> for the front-end. Developped by <a href="mailto:hanzenok@gmail.com">Mykhailo Ganza</a> with supervision of <a href="mailto:francois.nacabal@maya-technologies.com">François Naçabal</a> at <a href="http://www.maya-technologies.com/en/">Maya Technologies</a>.
		</p>

	</div>

	<md-divider></md-divider>
	<md-divider></md-divider>
	<div class="subheader" layout="row" layout-align="center center">
		<a href="http://www.maya-technologies.com/en/" style="margin-left: 10px;">
			<img class="cursor_pointer" src="images/maya_logo.png" style="opacity: 0.5;">
		</a>
		<div flex></div>
		<span style="margin-right: 10px; opacity: 0.5;" class="stats_span">2016</span>
	</div>

</md-dialog>