<md-dialog aria-label="Add Source" ng-controller="DialogController" ng-cloak>
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Adding a new source</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="../images/delete.svg" aria-label="Delete source"></md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="../images/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<md-dialog-content layout-padding="">
		<form name="dialogForm">
			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm="">
					<label>Name (Delete it)</label>
					<input name="name">
					<div ng-messages="dialogForm.name.$error" ng-if="showHints">
						<div ng-message="required">Name is required</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm="">
					<label>Type</label>
					<md-select name="type" ng-model="source_conf.type">
						<md-option value="mongo">Mongo</md-option>
						<md-option value="sql">MySQL</md-option>
					</md-select>
				</md-input-container>
			</div>

			<div layout-gt-sm="row">
				<md-input-container class="md-block" flex-gt-sm="">
					<label>Server</label>
					<input name="server" required ng-model="source_conf.server">
					<div ng-messages="dialogForm.server.$error" ng-if="showHints">
						<div ng-message="required">Server addres is required</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm="">
					<label>Port</label>
					<input name="port" type="number" min="0" max="65535" ng-model="source_conf.port" ng-pattern="/^\d*$/">
					<div ng-messages="dialogForm.port.$error" ng-if="showHints">
						<div ng-message="pattern">Port format is incorrect</div>
						<div ng-message="max">Port format is incorrect</div>
						<div ng-message="min">Port format is incorrect</div>
					</div>
				</md-input-container>

				<md-input-container class="md-block" flex-gt-sm="">
					<label>Database</label>
					<input name="db" required ng-model="source_conf.db">
					<div ng-messages="dialogForm.db.$error" ng-if="showHints">
						<div ng-message="required">Database name is required</div>
					</div>
				</md-input-container>
			</div>
		</form>
	</md-dialog-content>

	<md-dialog-actions layout="row">
		<md-button target="_blank" md-autofocus ng-click="connect()">
			Connect
		</md-button>
	</md-dialog-actions>
</md-dialog>