<md-dialog aria-label="Add Source" ng-controller="DialogCtrl" ng-cloak>

	<!-- Toolbar -->
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>{{getToolbarTitle()}}</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="deleteSource()" ng-hide="!deletable">
				<md-icon md-svg-src="../images/delete.svg" aria-label="Delete source"></md-icon>
			</md-button>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="../images/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<!-- Content -->
	<md-dialog-content layout-padding="">
		<form name="dialogForm">
			<div layout-gt-sm="row">

				<!-- Name -->
				<md-input-container class="md-block" flex-gt-sm="">
					<label>Name</label>
					<input name="name" required ng-model="source_conf.source.name" ng-readonly="deletable">
					<div ng-messages="dialogForm.name.$error" ng-if="showHints">
						<div ng-message="required">Name is required</div>
					</div>
				</md-input-container>

				<!-- Type -->
				<md-input-container class="md-block" flex-gt-sm="">
					<label>Type</label>
					<md-select name="type" ng-model="source_conf.source.type">
						<md-option value="mongo">Mongo</md-option>
						<md-option value="mysql">MySQL</md-option>
						<md-option value="json">JSON</md-option>
						<md-option value="csv">CSV</md-option>
					</md-select>
				</md-input-container>

				<!-- User -->
				<md-input-container class="md-block" flex-gt-sm="" ng-hide="source_conf.source.type === 'json' || source_conf.source.type === 'csv'">
					<label>User</label>
					<input name="user" ng-model="source_conf.source.user">
				</md-input-container>

				<!-- Password -->
				<md-input-container class="md-block" flex-gt-sm="" ng-hide="source_conf.source.type === 'json' || source_conf.source.type === 'csv'">
					<label>Password</label>
					<input name="passw" type="password" ng-model="source_conf.source.passw">
				</md-input-container>
			</div>

			<div layout-gt-sm="row" layout-align="center start">

				<!-- If the source is a file -->
				<div layout="column" ng-hide="source_conf.source.type !== 'json' && source_conf.source.type !== 'csv'" layout-align="start center">
					<div layout="row">

						<!-- Done this way in order to have a styled button -->
						<input class="ng-hide" id="input-file" type="file" onclick="angular.element(this).scope().saveSourceFile(this)"/>
						<!-- using two labels to simulate 'unclickability' -->
						<label class="md-button md-raised md-primary" ng-disabled="true" ng-if="!source_conf.source.name">Choose File</label>
						<label for="input-file" class="md-button md-raised md-primary" ng-if="source_conf.source.name">Choose File</label>
						<md-input-container class="md-block margin_0">
							<input type="text" ng-model="source_conf.source.db" ng-disabled="true" aria-label="Source Database">
						</md-input-container>
					</div>

					<!-- style attributes are left because it is a temporary message -->
					<i style="margin-top: 15px; font-size: 0.8em;">*Size limit: 100mb</i>
					<i style="margin-top: 15px; font-size: 0.8em;" ng-hide="source_conf.source.type !== 'csv'">**Currently supported only coma separated attributes, without spaces, with header line</i>
					<i style="margin-top: 15px; font-size: 0.8em; color: red;" ng-hide="source_conf.source.type !== 'csv'">***CSV support is not stable</i>
				</div>
				
				<!-- If the source is a db -->
				<!-- Server -->
				<md-input-container class="md-block" flex-gt-sm="" ng-hide="source_conf.source.type === 'json' || source_conf.source.type === 'csv'">
					<label>Server</label>
					<input name="server" required ng-model="source_conf.source.server">
					<div ng-messages="dialogForm.server.$error" ng-if="showHints">
						<div ng-message="required">Server addres is required</div>
					</div>
				</md-input-container>

				<!-- Port -->
				<md-input-container class="md-block" flex-gt-sm="" ng-hide="source_conf.source.type === 'json' || source_conf.source.type === 'csv'">
					<label>Port</label>
					<input name="port" type="number" min="0" max="65535" ng-model="source_conf.source.port" ng-pattern="/^\d*$/">
					<div ng-messages="dialogForm.port.$error" ng-if="showHints">
						<div ng-message="pattern">Port format is incorrect</div>
						<div ng-message="max">Port format is incorrect</div>
						<div ng-message="min">Port format is incorrect</div>
					</div>
				</md-input-container>

				<!-- Database -->
				<md-input-container class="md-block" flex-gt-sm="" ng-hide="source_conf.source.type === 'json' || source_conf.source.type === 'csv'">
					<label>Database</label>
					<input name="db" required ng-model="source_conf.source.db">
					<div ng-messages="dialogForm.db.$error" ng-if="showHints">
						<div ng-message="required">Database name is required</div>
					</div>
				</md-input-container>
			</div>
		</form>
	</md-dialog-content>

	<!-- Button -->
	<md-dialog-actions layout="row">
		<md-button target="_blank" md-autofocus ng-click="connect()">
			{{getButtonLabel()}}
		</md-button>
	</md-dialog-actions>
</md-dialog>