<md-dialog aria-label="Alert" ng-controller="DialogCtrl" ng-cloak layout="column">

	<!-- Toolbar -->
	<md-toolbar>
		<div class="md-toolbar-tools">
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="../images/info.svg" aria-label="Info icon"></md-icon>
			</md-button>
			<h2 flex>Tip</h2>
			<md-button class="md-icon-button" ng-click="cancel()">
				<md-icon md-svg-src="../images/close.svg" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>

	<!-- Content -->
	<div class="alert_div">
		<p class="alert_p" align="justify">
			The number of instances in the timeseries is too big to allow an 
			instant chart feedback and interaction with user (provided by <a href="https://dc-js.github.io/dc.js/">DC.js</a>).
		</p>

		<p class="alert_p" align="justify">
			If theese  functionalities are needed, you need to reduce the size of timeseries 
			by choosing the dates range or using transformation/reduction options.
			If not, charts would still be rendered, but without the same 
			level of interactivity (provided by <a href="http://canvasjs.com/">Canvas.js</a>).
		</p>

		<!-- <img src="../images/dcjs.gif" alt="DC.js" width="200" height="100"> -->
	</div>

</md-dialog>