<md-dialog aria-label="Save Format" ng-controller="DialogCtrl" ng-cloak layout="column">

	<!-- Toolbar -->
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Setting the timestamp format</h2>
		</div>
	</md-toolbar>

	<!-- Content -->
	<div layout="column" class="list_container" layout-align="center center">
		<div layout="row" flex="33" layout-align="center center" style="margin:10px;">
			<md-input-container ng-hide="isCustom" style="margin:6px 8px;">
				<label>Format</label>

					<md-select ng-model="format" aria-label="Format" style="width:250px;">
						<md-option value="ISO"><span>ISO</span></md-option>
						<md-option value="YYYY"><span>YYYY</span></md-option>
						<md-option value="YYYY-MM-DD"><span>YYYY-MM-DD</span></md-option>
						<md-option value="YYYY-MM-DD HH:mm:ss"><span>YYYY-MM-DD HH:mm:ss</span></md-option>
						<md-option value="" ng-click="isCustom=true"><span>Custom</span></md-option>
					</md-select>
			</md-input-container>

			<md-input-container  ng-hide="!isCustom" style="margin:6px 8px;">
				<label>Custom Format</label>
				<form ng-submit="saveFormat()"> <!-- used to enable enter click -->
					<input type="text" ng-model="format" md-autofocus style="width:250px;">
				</form>
			</md-input-container>

			<md-button class="md-raised" ng-click="saveFormat()">OK</md-button>
		</div>

		<span style="margin-top: 15px; font-size: 1.2em; color:gray;">
			{ {{data.field.name}} = '{{data.field.value}}' }
		</span>

		<i style="margin-top: 15px; font-size: 0.8em;">More info <a href='http://momentjs.com/docs/#/parsing/string-format/'>here</a></i>
	</div>
</md-dialog>